
/*Header*/

.transparent-header {
    background-color: transparent;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.transparent-header.navbar-dark {
    background-color: black;
    color: white;
}

.navbar-nav .nav-item:hover .nav-link {
    transition: 1s;
    color: white;
    border-bottom: 2px solid white;
}

.navbar-nav .nav-link {
    color: white;
    transition: 1s;
}

/*book now button*/

.book-now-button {
    display: inline-block;
    background-color: #1ca21c;
    padding: 20px 40px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.book-now-button a {
    text-decoration: none;
    color: white;
    font-family: Copperplate, Fantasy;
    font-size: 50px;
}

.book-now-button:hover {
    background-color: #078c07;
    cursor: pointer;
}